<app-title title="Defer Views / Blocs" />

<section class="grid grid-cols-1">
  <!-- AQUI ES UNO -->
  @defer () {
  <app-heavy-loaders-slow cssClass="bg-pink-500" />
  }@placeholder {
  <p
    class="h-[600px] w-full bg-gradient-to-r from-gray-700 to-green-950 animate-pulse"
  >
    Cargando ...
  </p>
  }

  <!-- CUANDO SE CONSTRUYO TODOS LOS COMPONENTES LAS RUTAS -->
  @defer (on idle) {
  <app-heavy-loaders-slow cssClass="bg-blue-500" />
  }@placeholder {
  <p
    class="h-[600px] w-full bg-gradient-to-r from-gray-700 to-green-950 animate-pulse"
  >
    Cargando ...
  </p>
  }

  <!-- AQUI ES UNO -->
  @defer (on viewport) {
  <app-heavy-loaders-slow cssClass="bg-purple-500" />
  }@placeholder {
  <p
    class="h-[600px] w-full bg-gradient-to-r from-gray-700 to-green-950 animate-pulse"
  >
    Cargando ...
  </p>
  }
</section>
